* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0dfdd;
  font-family: "MyCustomFont", sans-serif;
}

@font-face {
  font-family: "MyCustomFont";
  src: local("MyCustomFont"), url("./fonts/MyTupi.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

.section-container {
  margin-bottom: 24px;
}

.App {
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: column; /* Make the menu vertical */
  align-items: flex-end; /* Align the menu to the top-right */
  padding: 1.5rem;
  margin-top: 100px;
  width: 100%;
  position: fixed;
  top: 0; /* Stick the menu to the top */
  right: 0; /* Stick the menu to the right */
  background-color: transparent; /* Make the background color transparent */
}

nav ul {
  display: flex;
  flex-direction: column; /* Make the list items vertical */
  list-style: none;
  margin: 0; /* Remove the default margin */
  padding: 0; /* Remove the default padding */
}

nav li {
  margin-bottom: 1rem; /* Add some space between the list items */
}

nav a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.section {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  font-size: 3rem;
  padding-left: 30px;
}

.box {
  width: 300px;
  height: 300px;
  margin: 0 15px;
  background-color: #e0dfdd;
}
